{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2">
      <h1>About</h1>
    </div>
    <div class="col-md-10">
        <p>Goobe's Subscription Box is a service of Goobe's Book Republic, an underground bookstore/library established in 2009 (Yes, we are the kind of fools that started a brick and mortar bookstore in the midst of an economic meltdown)</p>
        <p><strong>What makes us unique as a bookstore?</strong><br>
        All of our staff are passonate about books and read atleast 3 books a month. We really love books, sometimes more than people. We have a serious thing for science fiction. Areas of specialisation are Non fiction, literature and Science fiction (not necessarily in that order)
        </p>
        <p><strong>What we really dream of?</strong><br>
        More access to books, especially in areas where this is not possible. We run a non profit, called <a href="https://gobookbank.wordpress.com/">Go Book Bank</a>, with the objective of setting up libraries and taking books further, sharing the joy and salvation that books have provided us.
        </p>
        <p><strong>Why should I sign up for this service?</strong><br>
        Well, you benefit from our lifelong love for books and 8 years of being professional (ahem) book curators and sellers.
        </p>

    </div>
</div>
{% endblock %}
