{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="shop">
    <div class="container">
        <div class="row">
        {% for item in object_list %}
            <div class="col-md-3 col-sm-6">
               <div class="price-box">
                 <h3>{{ item.name }}</h3>
                 <div class="price-info">
                   <span>{{ item.description }}</span>
                   <span>{{ item.boxes_added }} months</span>
                   <p class="price"><span><img src="{% static 'img/rupee.png' %}" style="float: left">{{ item.price }}</span></p>
                 </div>
                 <a href="{% url 'payment-create' pk=item.id %}" class="btn pricing-btn">Buy Now</a>
                </div>    
             </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
