{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        {% for item in object_list %}
        <div class="row">
            <div class="col-sm-1">{{ item.name }}</div>
            <div class="col-sm-2">{{ item.description }}</div>
            {% if item.image %}
            <div class="col-sm-2"><img src="{{ item.image.url }}"></div>
            {% endif %}
            <div class="col-sm-2">₹{{ item.price }}</div>
            <div class="col-sm-2">
                <a href="{% url 'payment-create' pk=item.id %}" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
