{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Privacy Policy</h1>
                <p>Goobe's Book Republic provides a subscription box service, which allows our customers to purchase a box each month containing books that they might find interesting. In order to understand what kinds of books our customer's enjoy, the website collects information from your Goodreads and Facebook profiles.</p>
                <p><strong>Facebook profile</strong> - Facebook login is provided as a convenience to our readers who would like to authenticate with our user management system using an existing Facebook account. We collect basic profile information from your Facebook profile such as age, gender, political views etc. to help us develop a profile of you, your reading habits and books you might potentially be interested in.
                </p>
                <p><strong>Goodreads profile</strong> - Goodreads login is also provided as convenience. Your Goodreads profile allows us to learn about the books which you have read, and understand the kinds of books you enjoy.
                </p>
                <h2>Sharing Information</h2>
                <p>The information which you provide us, through your linked Facebook and Goodreads accounts, as well as other information that you disclose to us, such as your address, favourite genres, favourite books and authors will be kept private with us and not be shared with any other company or organization.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
