{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Goobe's Book Republic Terms of Service</h1>
                <h3>1. Terms</h3>
                <p>By accessing the website at https://box.goobes.in/ you are 
                agreeing to be bound by these terms and services, all applicable 
                laws and regulations, and agree that you are responsbile for 
                compliance with any applicable local laws. If you do not agree with
                any of these terms, you are prohibited from using or accessing this site.
                The materials contained in this website are protected by applicable 
                copyleft and trademark laws.</p>
                <h3>2. Disclaimer</h3>
                <p>The materials on Goobe's Book Republic website are provided on an 
                'as-is' basis. Goobe's Book Republic makes no warranties, expressed
                or implied, and hereby disclaims and negates all other warranties including, 
                without limitation, implied warranties or conditions of merchantability, 
                fitness for a particular purpose, or non-infringement of intellectual 
                property or other violation of rights.
                </p>
                <p>Further, Goobe's Book Republic does not warrant or make any representations 
                concerning the accuracy, likely results, or reliability of the use of 
                the materials on its website or otherwise relating to such materials 
                or on any sites linked to this site.
                </p>
                <h3>3. Limitations</h3>
                <p>In no event shall Goobe's Book Republic or its suppliers be 
                liable for any damages (including, without limitation, damages for 
                loss of data or profit, or due to business interruption) arising out 
                of the use or inability to use the materials on Goobe's Book Republic's 
                website, even if Goobe's Book Republic or a Goobe's Book Republic authorized 
                representative has been notified orally or in writing of the possibility 
                of such damage. Because some jurisdictions do not allow limitations 
                on implied warranties, or limitations of liability for consequential 
                or incidental damages, these limitations may not apply to you.
                </p>
                <h3>4. Accuracy of materials</h3>
                <p>The materials appearing on Goobe's Book Republic website could 
                include technical, typographical, or photographic errors. 
                Goobe's Book Republic does not warrant that any of the materials on its 
                website are accurate, complete or current. Goobe's Book Republic may make
                changes to the materials contained on its website at any time without notice. 
                However Goobe's Book Republic does not make any commitment to update the materials.
                </p>
                <h3>5. Links</h3>
                <p>
                Goobe's Book Republic has not reviewed all of the sites linked to its 
                website and is not responsible for the contents of any such linked site. 
                The inclusion of any link does not imply endorsement by Goobe's Book Republic 
                of the site. Use of any such linked website is at the user's own risk.
                </p>
                <h3>6. Modifications</h3>
                <p>Goobe's Book Republic may revise these terms of service for its 
                website at any time without notice. By using this website you are 
                agreeing to be bound by the then current version of these terms of service.
                </p>
                <h3>7. Governing Law</h3>
                <p>These terms and conditions are governed by and construed in 
                accordance with the laws of Bangalore, Karnataka and you irrevocably 
                submit to the exclusive jurisdiction of the courts in that State or location.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
